**/.vscode
**/.devcontainer

**/.git
**/.gitignore

**/Dockerfile*
**/.dockerignore
**/.env
**/.env.example

**/.mcp.json

**/LICENSE
**/README.md

**/.claude
**/.serena
**/docker/Dockerfile
**/docs
**/src
**/tests